body{
	height: 100%;
	width: 100%;
	font-size: 1em;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
}

a{
	color: black;
}
h2{
	font-size: 24px;
	padding: 20px;
	
	
}
h3{
	font-size:19px;
	padding:13px;
}
h4{
	font-size:18px;
	padding:9px;
}
.nav-brg{
		display:none;
	}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-transform: uppercase;
	z-index: 99999;
	opacity: 0.7;
	
}

.nav li a{
	margin-left: 15px;
}
li{
	display: inline-block;
}
.containerr{
	margin: 10px 15px 0 15px;
}
.navbar-header{
	float: left;
	clear: both;
	font-size: 18px;
}
.nav{
	float: right;
	font-size: 18px;
}
.clear{
	clear: both;
	
}
.first-section{
	height: 670px;
	width: 100%;
	background-size: cover;
	background-image: url('../img/myfon.png');
	text-align: center;
	
}
.first-section h2{
	margin: 0 auto;
	max-width: 80%;
	font-weight: 700;
	font-size: 50px;
	color: black;
	opacity: .8;
	
	
}
.first-section p{
	margin: 0 auto;
	padding-top: 50px;
	font-weight: 300;
	font-size: 18px;
	max-width: 80%;
	color: black;
	opacity: .8;
	
}
.text-container{
	position: absolute;
	margin-top: 200px;
	font-size: 18px;
	width: 100%;
	color: #FF9900;
	
}
.about{
	width:100%;
	text-align:center; 
	background-image: url('../img/web.jpg');
	color: #FF9900;
	
}
#myimg{
	max-width:500px;
	width:100%;
	height:auto;
	border-radius:0;
	border: 1px solid white;
	
	
}

.about-text-cnt, .about-img-cnt{
	margin: 0;
	padding: 0;
	float:left;
	width:50%;
	text-align:center;
	
	
}
.about-img-cnt{
	margin-bottom:50px;
	
}
.about-text-cnt{
	padding: 20px;
	font-size: 20px;
	
}
.about-text-cnt p{
	text-align:left;
	
}
.about-text-cnt{
	margin-top:-20px;
	
}
#th2{
background-color: #006363;

	
}
.tehnologi{
	margin-top: 15px;
	width:33.333%;
	height:320px;
	max-width:100%;
	float:left;
	
}
.logoimg{
	
	width:250px;
	height:300px;
}

.btn-icon-container-left{
	overflow: hidden;
	position: absolute;
	width:25.7px;
	height: 25px;
	background-image: url('../img/icons.jpg');
	background-position: 225px 110px;
	top:190px;
	left:20px;
	opacity: 0.3;
	
}
.btn-icon-container-right{
	overflow: hidden;
	position: absolute;
	width:25.7px;
	height: 25px;
	background-image: url('../img/icons.jpg');
	background-position: 225px 70px;
	top:190px;
	right:20px;
	opacity: 0.3;
	
}

#portfolio-btn-left, #portfolio-btn-right{
	width: 20%;
	height:100%;
	position: relative;
}
#portfolio-btn-left:hover, #portfolio-btn-right:hover{
	opacity: 0.1;
	background-color: black;
	cursor: pointer;
}
 #portfolio-btn-right{
 	float:right;
 }
 #portfolio-btn-left{
 	float:left;
 }

.mycontact h1{
    padding-top: 80px;
    padding-bottom: 60px;
    font:45px "Palatino Linotype";
	color: #2E8B57; 
    text-align: center;
    
}
form.left{
    float: left;
    width: 40%;
    padding-left: 40px;
    margin-bottom: 50px;
    color: #ff6633;
    
}
p.comment-form-author {
	margin-bottom:2em;
}
.mycontact{
    overflow:hidden;
    color:#ff6633;
}
.contact-form label{
    margin-bottom: 10px;
    font:"Palatino Linotype";
	display: block;
	font-size: 1em;
	color:#009999;
	text-transform: uppercase;
	font-weight: bold;
}
.contact-form input[type="text"] {
	padding: 20px;
	width:95%;
	color:#9198A3;
	font-size:1em;
	border:none;
	background:#e6e9ec;
	outline: none;
	display: block;
	font-family: 'Lato', sans-serif;
}
.contact-form input[type="text"], .contact-form textarea {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.contact-form textarea {
	padding: 20px;
	display: block;
	width:95%;
	background:#e6e9ec;
	border:none;
	outline: none;
	color:#9198A3;
	font-size:1em;
	-webkit-appearance: none;
	resize: none;
	height: 150px;
	font-family: 'Lato', sans-serif;
}
.contact-form input[type="submit"]{
	display: inline-block;
	background: #554961;
	padding: 13px 30px;
	color: #FFF;
	font-size: 20px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.contact-form input[type="submit"]:hover{
	background: #384254;
}
.right{
    display: inline-block;
    width: 30%;
    padding-left: 200px;
}
.right h4{
    font-family: "Palatino Linotype", serif;
	color: #554961;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.2em;
}
.right p{
    font-family: "Palatino Linotype", serif;
    font-size: 18px;
    
}